:root {

    --color-green-950: #004140;
    --color-green-500: #19B89D;
    --color-cyan-800: #006971;
    --color-cyan-500: #26B5C0;
    --color-gold-500: #E28625;
    --color-gray-100: #f2f2f2;
    --color-gold-200: #FFD473;

    /* --- SPACING SCALE --- */
    --spacing-0: 0px;
    --spacing-100: 8px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-1000: 80px;
}
*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

.text-preset1 {
    font-family:'Big Shoulders', sans-serif;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0px;
}

.text-preset2 {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    line-height: 1.65;
    letter-spacing: 0px;
}



body {
    position: relative;
    height: 100vh;
}

.main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    margin: var(--spacing-0);
}

.card {
    padding: 48px;
    min-width: 307px;
    min-height: 500px;
}

div > img {
    margin-bottom: var(--spacing-500);
}

.sedan-container {
    background-color: var(--color-gold-500);
    --theme-color:var(--color-gold-500);
}

.suv-container {
    background-color: var(--color-cyan-800);
    --theme-color:var(--color-cyan-800);

}

.luxury-container {
    background-color: var(--color-green-950);
    --theme-color:var(--color-green-950);
}
.card>div>h1 {
    color: var(--color-gray-100);
    margin-bottom: var(--spacing-300) ;
}
.card>div>p {
    color: white;
    opacity: 75%;
}

.main-container >div > div {
    margin-bottom: var(--spacing-1000);
}

div > div > button{
    display: inline-block;
    background-color: var(--color-gray-100);
    border: 2px solid var(--color-gray-100);
    border-radius: 25px;
    padding: 8px 32px;
    cursor: pointer;
    color: var(--theme-color);
    transition: all 0.3s ease;
}


div>div>button:hover {
    background-color: transparent;
    color: #f2f2f2;
    border-color: #f2f2f2;
}

